/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili generali sfondo */
#app {
    position: relative;
}

.container-top {
    height: 150px;
    background-color: hsl(174.4deg 100% 29.41%);
}

.container-bottom {
    height: calc(100vh - 150px);
    background-color: hsl(150deg 7.69% 84.71%);
}

/* stili generali all'interno del content container */
.content-container {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

/* stili generali colonna sinistra */
.accounts {
    width: 40%;
    height: 100%;
    background-color: (0deg 0% 100%);
}

.main-avatar {
    width: 100%;
    height: 60px;
    background-color: hsl(0deg 0% 91.76%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-img {
    display: flex;
    align-items: center;
}

.main-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-icons i {
    padding-right: 15px;
    font-size: 20px;
    color: hsl(0deg 0% 69.41%);
}

.notifications {
    width: 100%;
    height: 85px;
    background-color: hsl(198.55deg 94.83% 77.25%);
    padding: 15px;
    display: flex;
    align-items: center;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px none;
    border-radius: 100%;
}

.fa-bell-slash {
    padding: 20%;
    font-size: 30px;
    color: hsl(198.55deg 94.83% 77.25%);
}

.content-not {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.content-not span:first-child {
    font-size: 15px;
}

.content-not span:last-child {
    font-size: 13px;
    text-decoration-line: underline;
    color: hsl(212.83deg 20.95% 50.39%);
}

.search-chat {
    width: 100%;
    height: 50px;
    background-color: hsl(0deg 0% 98.04%);
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-chat-sticker {
    width: 10%;
    text-align: center;
}

.search-chat-input {
    width: 90%;
    height: 70%;
}

.search-chat-input input {
    width: 100%;
    height: 100%;
   
}

/* stili contatti avatar */
.all-avatar {
    width: 100%;
    height: 100%;
}

.avatar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: hsl(0deg 0% 100%);
    border-top: 1px solid hsl(0, 2%, 92%);
}

.space-b {
    display: flex;
    justify-content: space-between;
}

.avatar img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.content-avatar {
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.last-mex {
    font-size: 13px;
    color: hsl(0, 0%, 71%);
}

.data-chat {
    height: 100%;
    padding-right: 10px;
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: hsl(0, 0%, 71%);
}

/* stili generali colonna destra */
.chat {
    width: 60%;
    height: 100%;
    background-color: rgb(211, 149, 138); 
}

.header-chat {
    width: 100%;
    height: 60px;
    background-color: hsl(0deg 0% 91.76%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid hsl(0, 1%, 80%);
}

/* stili generali main chat */
.main-chat {
    width: 100%;
    height: calc(100% - 140px);
    background-image: url(../img/panini.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.messages {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sending-message {
    max-width: 300px;
    height: 50px;
    background-color: hsl(94.29deg 84% 85.29%);
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    border-radius: 8px;
}

.sending-message span {
    width: 100%;
    height: 100%;

}

.reply-message {
    align-self: flex-start;
    max-width: 300px;
    height: 50px;
    background-color: white;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 8px;
}

/* stili generali footer chat */
.footer-chat {
    width: 100%;
    height: 80px;
    background-color: hsl(26.67deg 27.27% 93.53%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-chat input {
    width: 80%;
    height: 60%;
    margin: 10px 0;
    padding: 10px;
}

.footer-icons {
    width: 10%;
    text-align: center;
    font-size: 25px;
    color: hsl(36deg 3.94% 50.2%);
}